*.pyc
__pycache__
dist/
build/
setup.cfg
*.egg-info
.eggs/

# Test artifacts
.tox/
.coverage
*_flymake.py

# Emacs editing artifacts
\#*#
.#*
*~

# Other backup files
*.bak
*.orig

# LaTeX-specific
auto/

# R history files
.Rhistory

# IPython notebook checkpoints
.ipynb_checkpoints

# Dask scratch space
dask-worker-space

# crashes
*.stackdump

# some temporary outputs
*_??.nc4
*.log
*.lob
*.patch
*.pbs

# Graphics are for visualization, not part of code
*.png

# output
monthly_inversion*_output.nc4
