# Base requirements for package
six
numpy >=1.13 ; python_version >=3.5
numpy >=1.13,<1.17 ; python_version <=3.0
scipy
pyfftw

# Additional requirements for tests
unittest2
pandas
xarray

# Test runner
tox

# Additional requirements for examples
cf_units
dask[array]>=1.1.0

# Additional requirements for building documentation
Sphinx
